* {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

/* Body */
body {
  background: #d4a373;
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
}

/* Layout */
section {
  max-width: 1054px;
  margin: 1.5em;
}
